# Configuration for fine-tuning AlphaGenome on splice site data

seed: 1950
gpu_mem_fraction: 0.8
device: 'cuda'

# Training parameters
seq_len: 4096  # Must be power of 2 (e.g. 4096, 8192, 10240)
batch_size: 32
num_workers: 0  # Set to 0 to avoid JAX fork warnings; increase if not using JAX
epochs: 20
lr: 1.0e-4
validation_fraction: 0.1  # Fraction of training data to use for validation

# Data paths
data_dir: '/home/elek/sds/sd17d003/Anamaria/splicevo/data_new/splits_small_5kb/mouse_human/train/'
max_donor_sites: 20
max_acceptor_sites: 20

# Output directory
output_dir: '/home/elek/sds/sd17d003/Anamaria/alphagenome_pytorch/small_mouse_human_5kb/'
model_name: 'finetune_splice_heads'  # Name for the saved model file (without .pt extension)

# Pretrained weights
load_pretrained: true
pretrained_model_version: 'all_folds'
freeze_backbone: true  # Set to true to only train heads

# Model architecture (use defaults or customize)
model:
  num_organisms: 2  # human + mouse
  # dims: [768, 896, 1024, 1152, 1280, 1408, 1536]  # uncomment to customize
  # basepairs: 4
  # dna_embed_width: 15
  heads_cfg:
    human:
      num_tracks_1bp: 0
      num_tracks_128bp: 0
      num_tracks_contacts: 0
      num_splicing_contexts: 7 ### Hardcoded (adult 16, small 7)
    mouse:
      num_tracks_1bp: 0
      num_tracks_128bp: 0
      num_tracks_contacts: 0
      num_splicing_contexts: 8 ### Hardcoded (adult 34, small 8)